---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<h1>{{ collectiondata.title }}</h1>

			{{ collectiondata.description | markdownify }}

    </article>
<script async data-uid="fd6daa2981" src="https://creative-founder-7214.ck.page/fd6daa2981/index.js"></script>    

    {% include post-list.html %}

  </div>

</main>

{% include site-footer.html %}
